:root{
    --background-key: rgb(182, 176, 176);
    --text-color: #060a0e;
    --disabled-key-color: #58636e;
}


.curr-key{
    width: 45px;
    height: 45px;
    background-color: var(--background-key);
    border-radius: 50%;
    display: inline-block;
    font-family: "comic Sans Ms", "Times New Roman";
    color: var(--text-color);
    margin: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.disabled-key{
    color: var(--disabled-key-color);
    cursor: context-menu;
}

