:root{
  --header-background :  #254347;
}

.header-row{
  margin: 20px;
  height: 55px;
}

.middle-row{
  height: 450px;
  margin-top: 30px;
}

.header{
  color: white;
  font-size: 36px;
  border-radius: 10px;
  background-color: var(--header-background);
}