:root{
    --win-color: #71E18E;
    --lose-color:  #FF495E;
    --button-color: #2271BF;
}

.message{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.win{
    color: var(--win-color);
}
.loss{
    color :var(--lose-color);
}
.againBtn{
    height: 75px;
    width: 152px;
    background-color: var(--button-color);
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    box-shadow: 0 14px 12px 0 rgba(0,0,0,0.15)
}