:root{
    --open-key-color: #0E0F0F;
    --regular-key-color:#2271Bf;
}

.puzzleLetterOpen{
    display: inline-block;
    font-family: "Arial-BoldMt", Helvetica, sans-serif;
    height: 70px;
    width: 44px;
    border-bottom: 4px solid var(--open-key-color);
    color:var(--open-key-color);
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin: 0px 3px;
}
.puzzleLetter{
    display: inline-block;
    font-family: "Arial-BoldMt", Helvetica, sans-serif;
    height: 70px;
    width: 44px;
    border-bottom: 4px solid var(--regular-key-color);
    color :var(--regular-key-color);
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin: 0px 3px;
}

.letter{
    position: absolute;
    height: 45px;
    width: 44px;
    bottom:12px;
}

.space{
    display: inline-block;
    margin: 15px;
}
